USE [master]
GO
/****** Object:  Database [AntikorTestDb]    Script Date: 13.12.2020 22:57:07 ******/
CREATE DATABASE [AntikorTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AntikorTestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AntikorTestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AntikorTestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AntikorTestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AntikorTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AntikorTestDb]
GO
/****** Object:  Table [dbo].[City]    Script Date: 13.12.2020 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 13.12.2020 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuredUser]    Script Date: 13.12.2020 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuredUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IsConfirm] [bit] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PolicyNo] [nvarchar](50) NOT NULL,
	[IdentityNo] [nvarchar](11) NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[RezervDate] [datetime] NOT NULL,
	[ConfirmRezervDate] [datetime] NULL,
 CONSTRAINT [PK_InsuedUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([Id], [Name]) VALUES (1, N'ADANA')
INSERT [dbo].[City] ([Id], [Name]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[City] ([Id], [Name]) VALUES (3, N'AFYO')
GO
INSERT [dbo].[District] ([Id], [Name], [CityId]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[District] ([Id], [Name], [CityId]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[District] ([Id], [Name], [CityId]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[InsuredUser] ON 

INSERT [dbo].[InsuredUser] ([Id], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsConfirm], [FirstName], [LastName], [PolicyNo], [IdentityNo], [CityId], [DistrictId], [RezervDate], [ConfirmRezervDate]) VALUES (1, CAST(N'2020-12-13T19:54:12.680' AS DateTime), N'Kadir Dinç', CAST(N'2020-12-13T19:54:12.750' AS DateTime), N'Kadir Dinç', 0, N'Kadir', N'Dinç', N'12312312', N'54370305210', 34, 854, CAST(N'2020-12-14T00:00:00.000' AS DateTime), CAST(N'2020-12-15T00:00:00.000' AS DateTime))
INSERT [dbo].[InsuredUser] ([Id], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsConfirm], [FirstName], [LastName], [PolicyNo], [IdentityNo], [CityId], [DistrictId], [RezervDate], [ConfirmRezervDate]) VALUES (2, CAST(N'2020-12-13T22:30:58.387' AS DateTime), N'Soner Dinç', CAST(N'2020-12-13T22:30:58.390' AS DateTime), N'Soner Dinç', 1, N'Soner', N'Dinç', N'1212121212', N'54514300484', 34, 854, CAST(N'2020-12-16T00:00:00.000' AS DateTime), CAST(N'2020-12-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[InsuredUser] OFF
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_City]
GO
ALTER TABLE [dbo].[InsuredUser]  WITH CHECK ADD  CONSTRAINT [FK_InsuedUser_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[InsuredUser] CHECK CONSTRAINT [FK_InsuedUser_City]
GO
ALTER TABLE [dbo].[InsuredUser]  WITH CHECK ADD  CONSTRAINT [FK_InsuedUser_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([Id])
GO
ALTER TABLE [dbo].[InsuredUser] CHECK CONSTRAINT [FK_InsuedUser_District]
GO
USE [master]
GO
